<div class="home-pg">
    <h1>CREATE A STORY !</h1>
    <div> Story structure:
        <ol>
        <p>"Once upon a time, __________________________."</p>
        <p>"Everyday, __________________________."</p>
        <p>"One day, __________________________."</p>
        <p>"Because of that, __________________________."</p>
        <p>"Because of that, __________________________."</p>
        <p>"Until finally, __________________________."</p>
        <p>"In conclusion, __________________________."</p>
        </ol>
    </div>
    <br/>
    <%= render "form" %>
</div>