CREATE A TEAM !

<h1>Who wanna join?</h1>
<div>*the story can be as lame as possible lol !*</div>
<div>First, create a team ranging from two tellers to seven tellers.</div><br />
<div>

<%= render "form" %>