<div class="home-pg">
    <h3>NEW STORY BEGIN</h3>

    <%= render 'form' %>

    Important:
    "Make sure all your sentences are created (all Create Sentence buttons are clicked) before submit the story!"<br>
    <%= link_to "Submit this story", story_path(@story) %>

</div>