<div class="home-pg">
    <h3>NEW STORY BEGIN</h3>

    <%= render 'form' %>
    <br>
    Important:
    Make sure all your "Create Sentence" buttons are clicked before submit the story!
    <%= link_to "Submit this story", story_path(@story) %>

</div>