<div class="home-pg">
    <div><h1>ABOUT STORY-TELLING</h1></div>
    <div>
        <p>Story-telling is a communication-based game where you can play with friends to create a story.</p>
        <p>The purpose of this game to make a lame/funny/interesting story based on 7 sentences.</p>
        <p>There are no winner. Only stories.</p>
        <p>The number of player can range from two to seven players.</p>
        <p>The structure of the sentences will have to start with:</p>
        <ol>
        <p>"Once upon a time, __________________________."</p>
        <p>"Everyday, __________________________."</p>
        <p>"One day, __________________________."</p>
        <p>"Because of that, __________________________."</p>
        <p>"Because of that, __________________________."</p>
        <p>"Until finally, __________________________."</p>
        <p>"In conclusion, __________________________."</p>
        </ol>
        <br>
    </div>
    <div>
        <%= link_to "Let's play", new_team_path %> <br>
        <%= link_to "View all existed story", stories_path %>
    </div>
</div>