header {
    justify-content: space-evenly;
    background: black;
    padding: 10px;
    text-align: center;
    
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      color: white;
      padding: 50px;
    }

    a:hover {
      background: gray;
    }

  }
