// Place all the styles related to the Sentences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.create-sent textarea {
    width: 100%;
}

.flexrow div{ display: flex; flex-wrap: wrap}

.flexrow div div{padding-left: 30px; min-width: 130px}

.flexrow div div form {min-width: 500px}