<!--
  <div class="Main Menu">
  <div class= "right menu">
  <% if session[:teller_id] %>
    <% link_to 'Logout', logout_path {method: 'DELETE'} %>
  <% else %>
    <% link_to 'Login', login_path {method: 'DELETE'} %>
  <% end %>
  <% link_to "Create a new Story", new_story_path %>
  <% link_to "Profile" %>
  </div>
  </div>

  -->